body  {
    margin: 0;
    font-family: Arial, sans-serif;
    line-height: 1.6;

 
    
}




header {
    background: #0d0d0d;
    color: #fff;
    padding: 0.4px;
    
}

#nav-container{
   
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 5em;
    padding-right: 5em;
}

nav h1 {
    margin: 0;
}

nav ul {
    list-style: none;
    display: flex;
}

.nav-element {
    margin-left: 26px;
    opacity: 0.7;
    transition: 0.3s;
}
.nav-element:hover {
    opacity: 1;
    background-color: rgb(29, 29, 29);
   
   
}


.nav-link{
    color: #fff;
    text-decoration: none;
} 

.heading-banner {
    background: url('../images/Gym-Genius-Logo.png') no-repeat center center/cover;
    background-size: 400px 400px;
    color: #fff;
    text-align: center;
    padding: 5em 1em;
    text-shadow: 3px 3px 12px rgb(0, 0, 0);
}



.button {
    display: inline-block;
    background: #a20101;
    color: #fff;
    padding: 0.5em 1em;
    text-decoration: none;
    border-radius: 5px;
}


main {
    padding: 2em 1em;
}



h2 {
    margin-bottom: 0.5em;
}

.events {
    display: flex;
    gap: 1em;
}

.type-of-event {
    flex: 1;
    padding: 10px;
  
    border: 1px solid #ddd;
    border-radius: 5px;
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    gap: 0.5px;
}

form label {
    margin-bottom: 0.2px;
}

form input, form textarea {
    padding: 0.5px;
    border: 1px solid #f8b4b4;
    border-radius: 5px;
 
  
  
}

.event-item {
    border: 1px solid #ccc;
    padding: 20px;
    margin-bottom: 15px;
}



footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 2em;
}
