body  {
    margin: 0;
    font-family: Arial, sans-serif;
    line-height: 1.6;
}


header {
    background: #0d0d0d;
    color: #fff;
    padding: 0.4px;
}

#nav-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 5em;
    padding-right: 5em;
}

nav h1 {
    margin: 0;
}

nav ul {
    list-style: none;
    display: flex;
}

.nav-element {
    margin-left: 26px;
    opacity: 0.7;
    transition: 0.3s;
}
.nav-element:hover {
    opacity: 1;
    background-color: rgb(29, 29, 29);
}
.nav-link{
    color: #fff;
    text-decoration: none;
} 
.heading-banner {
    background: url('../images/Gym-Genius-Logo.png') no-repeat center center/cover;
    background-size: 400px 400px;
    color: #fff;
    text-align: center;
    padding: 5em 1em;
    text-shadow: 3px 3px 12px rgb(0, 0, 0);
}
main{
    padding: 2em;
}

form{
    display: flex;
    flex-direction: column;
    max-width: 600px;
    margin: auto;
}

label,input, textarea{
    margin-bottom: 20px;
}

button{
    padding: 7px 15px;
    background-color: #0006b5;
    color: white;
    border: none;
    cursor: pointer;
    opacity: 0.90;
    transition: 0.2s;
}

.edit-button{
    opacity: 1;
}

#workout-list{
    margin-top: 20px;
}
.workout-item{
    border: 1px solid #ccc;
    padding: 20px;
    margin-bottom: 15px;
}

.workout-item #edit-button{
    background-color: rgb(0,113,21);
}

.workout-item #delete-bbutton{
    background-color: rgb(142,1,1);
}

.workout-item button{
    border: none;
    color: white;
    cursor: pointer;
}

.workout-item button:hover{
    background-color: darkred;
}

footer{
    background: #333;
    color: #fff;
    text-align: center;
    padding: 2em;
}